<h1>Cocktail list</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
      <% if cocktail.picture.present? %>
        <%= link_to cocktail_path(cocktail) do %>
         <% image_tag cocktail.picture.url(:thumb) %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<p><%= link_to "Add a cocktail to the list", new_cocktail_path %></p>
