<div id="footer-main">

    <div id="social-links">
      <ul class="list-inline big-size">
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-facebook"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-twitter"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-instagram"></i>
          <% end %>
        </li>
      </ul>
    </div>


    <div id="copyright">
      <p>&copy; Mister Cock</p>
    </div>


</div>
